@model UsuarioLoginViewModel

@{
    ViewData["Title"] = "Iniciar Sesión";
}

<div class="row justify-content-center mt-5">
    <div class="col-md-4">
        <div class="card shadow-sm">
            <div class="card-body">
                <h4 class="text-center mb-4">Iniciar Sesión</h4>

                <form asp-action="Login" method="post">

                    <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

                    <div class="mb-3">
                        <label asp-for="Email" class="form-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                    @* <div class="mb-3">
                        <label asp-for="Password" class="form-label"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div> *@

                    <div class="mb-3 password-toggle">
                        <label asp-for="Password" class="form-label">Contraseña</label>

                        <div class="input-group">
                            <input asp-for="Password" class="form-control" type="password" />

                            <button class="btn boton-secundario toggle-password" type="button">
                                <i class="bi bi-eye"></i>
                            </button>
                        </div>

                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>

                    <div class="form-check mb-3">
                        <input asp-for="RememberMe" class="form-check-input" />
                        <label asp-for="RememberMe" class="form-check-label">Recordarme</label>
                    </div>

                    <button type="submit" class="btn btn-primary w-100">
                        Ingresar
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}